<%- include('./partials/head') %>
  <%- include('./partials/header') %>

    <main class="container">
      <div class="container">
        <h2>Produto Editado com sucesso.</h2>
        <h4> Confira as novas informações abaixo:</h4>
      </div>
      <div class="container__atualizar__form">

        <div class="itens__produtos">
          <h3>Nome do produto:</h3>
          <p>
            <%= produtoEditado.titulo %>
          </p>
        </div>

        <div class="itens__produtos">
          <h3>Descricao do produto: </h3>
          <p>
            <%= produtoEditado.descricao %>
          </p>
        </div>

        <div class="itens__produtos">
          <h3>Preço:</h3>
          <p>
            <%= produtoEditado.preco %>
          </p>
        </div>

        <div class="itens__produtos">
          <h3>Preço Promoção:</h3>
          <p>
            <%= produtoEditado.precoPromo %>
          </p>
        </div>

        <div class="itens__produtos">
          <h3>Data do Lançamento:</h3>
          <p>
            <%= produtoEditado.dataLancamento %>
          </p>
        </div>
        <a href="javascript:history.go(-1)" class="btn">Corrigir</a>
      </div>
    </main>

    <%- include('./partials/footer') %>