<%- include('./partials/head') %>
  <%- include('./partials/header') %>

    <main class="container">
      <div class="container">
        <h1>Editar produto: <%= produtos.titulo %>
        </h1>
      </div>
      <div class="container__form">
        <form class="form__produtos" action="/produtos/editar?_method=put" method="post">
          <label>Adicione um título ao seu produto</label>
          <input type="text" id="titulo" name="titulo" value="<%= produtos.titulo %>">
          <label>Adicione uma descricao ao seu produto</label>
          <textarea id="descricao" name="descricao" value="<%= produtos.descricao %>" rows="10" cols="50"><%= produtos.descricao %></textarea>
          <label>Adicione o valor do seu produto</label>
          <input type="number" id="preco" name="preco" value="<%= produtos.preco %>">
          <label>Adicione o valor atual promocionado, caso esteja em promoção</label>
          <input type="number" id="precoPromo" name="precoPromo" value="<%= produtos.precoPromo %>">
          <label>Data do Lançamento</label>
          <input type="text" id="dataLancamento" name="dataLancamento" value="<%= produtos.dataLancamento %>">
          <input type="submit" value="Alterar" class="submit">
        </form>
      </div>
    </main>

    <%- include('./partials/footer') %>