<%- include('./partials/head') %>
  <%- include('./partials/header') %>

    <main class="container">
      <h1>Nossos Produtos</h1>

      <% for(let produto of produtos) { %>
        <article>
          <img src="<%= produto.imagem %>" alt="Imagem do produto <%= produto.nome %>" width="200px">
          <h3>
            <%= produto.titulo %>
          </h3>
          <%= produto.descricao %>
            <p></p>
            <% if(produto.precoPromo) { %>
              <p>DE R$ <%= produto.preco %> POR APENAS R$ <%= produto.precoPromo %>
              </p>
              <% } else { %>
                <p>APENAS R$ <%= produto.preco %>
                </p>
                <% } %>
                  <a href="" class="btn">Ver detalhes</a>
        </article>
        <% } %>

    </main>

    <%- include('./partials/footer') %>