<%- include('./partials/head') %>
  <%- include('./partials/header') %>

    <main class="container">
      <div class="container">
        <h1>Nossos Produtos</h1>
      </div>
      <div class="container__produto">
        <% if(locals.galeria) {%>

          <% for(let produto of produtos) { %>
            <article>
              <div class="imagem__box">
                <img src="../<%= produto.imagem %>" alt="Imagem do produto <%= produto.nome %>" height="200px">
              </div>
              <h3>
                <%= produto.titulo %>
              </h3>
              <p>DE R$ <%= produto.preco %> | POR APENAS R$ <%= produto.precoPromo %>
              </p>
              <% if(galeria) {%>
                <a href="./<%= produto.id %>" class="btn">Ver detalhes</a>
                <% } %>
            </article>
            <% } %>

              <% } else { %>
                <article>
                  <div class="edit__produto"><a href="<%= produtos.id %>/editar"> Editar Produto</a> | <a href="<%= produtos.id %>/delete">Deletar Produto</a></div>
                  <div <div class="imagem__box">
                    <img src="../<%= produtos.imagem %>" alt="Imagem do produto <%= produtos.nome %>" height="200px">
                  </div>
                  <h3>
                    <%= produtos.titulo %>
                  </h3>
                  <p>
                    <%= produtos.descricao %>
                  </p><br><br>

                  <p><b>DE R$ <%= produtos.preco %> | POR APENAS R$ <%= produtos.precoPromo %>
                    </b></p>

                  <a href="." class="btn">Voltar</a>

                </article>

                <% } %>
      </div>
    </main>

    <%- include('./partials/footer') %>